*.bak
*.txt
old\ files/
output_files/
incremental_db/
greybox_tmp/
db/
atom_netlists/
*.exe
*.qsf
*.qdf
*.rpt
*.gif
*.png
*.PNG
*.pdf
rise_original
simulation/
*.xlsx
*.docx
*.doc
*.xml
*.dwf3work
*.json
input.mif
input.csv

